*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.recentPractice{
  .content{
    display: flex;
    align-items: center;
    border-bottom: 0.01rem solid #DEEAE1;
    box-sizing: border-box;
    padding-right: 0.15rem;
    padding-left: 0.1rem;
    .first{
       height: 1.3rem;

      .img{
        margin-top: 0.2rem;

        border: 0.01rem solid #DCDCDC;
        border-radius: 0.02rem;
        width: 0.9rem;
        height: 0.9rem;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
      }
      img{
        width: 0.6rem;
        margin-top: 0.04rem;
      }
    }
  }
  .homePage_book{

    width: 2.4rem;
    float: right;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
    display: inline-block;
    overflow: hidden;
    >div{
      font-size: 0.15rem;
      color: #1B1B1B;
      margin-bottom: 0.03rem;
    }
    >div:not(:first-child){
      display: inline-block;
      margin-right: 0.2rem;
      margin-bottom: 0.03rem;
      span{
        font-size: 0.11rem;
      }
      >span:nth-of-type(1){
        color: #707070;
        margin-right: 0.05rem;
      }
      >span:nth-of-type(2){
        color: #EC6941;
      }
    }
    .contentShop{
       color: #626262;
      font-size: 0.1rem;
      line-height: 0.2rem;
      overflow: hidden;
      height: 0.4rem;
      display: inline-block;
      margin: 0;
       width: 2.4rem;
    }
  }
}
