.pMyorder{
  .pMyorder_navigation{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0.075rem 0.47rem;
    border-bottom: 0.03rem solid #DEE9E1;
    width: 100%;
    position: fixed;
    background: #FFFFFF;
    li{
      font-weight: 600;
      list-style: none;
      width: 0.55rem;
      height: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4B4B4B;
      box-sizing: border-box;
      padding: 0.08rem 0;
      border: 0.02rem solid transparent;
      font-size: 0.13rem;
    }
    .active{
      color: #83D19C;
      border: 0.01rem solid #11A640;
      border-radius: 0.2rem;
    }
  }
  ul{
    li{
      list-style: none;
    }
  }

}
