* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.pHerappraisal {
  .hello_img {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 0.16rem;
    >img {
      margin-top: 0.23rem;
    }
    >div:nth-of-type(1) {
      font-weight: 600;
      margin-bottom: 0.06rem;
    }
    >div:nth-of-type(2) {
      span {
        color: rgba(112, 112, 112, 0.8);
        font-size: 0.11rem;
        font-weight: bold;
      }
    }
  }
  .hello_dynamic {
    border-top: 0.02rem solid #F3F3F3;
    box-sizing: border-box;
    padding: 0.08rem 0;
    display: flex;
    align-items: center;
    >div {
      text-align: center;
      width: 50%;
      color:rgba(112, 112, 112, 0.8);
      font-size: 0.13rem;
    }
    >div:nth-of-type(1) {
      border-right: 0.01rem solid #F3F3F3;
    }
  }
  .homework {
    .active {
      box-sizing: border-box;
      padding: 0.15rem 0 0.08rem 0.15rem;
      width: 100%;
      background: #DEEAE1;
      color: rgba(136, 136, 136, 1);
    }
    >div {
      border-bottom: 1px solid #F4F4F4;
      box-sizing: border-box;
      padding: 0.08rem 0.15rem 0 0.15rem;
      >div:nth-of-type(1) {
        margin: 0.08rem 0;
        color: rgba(153, 153, 153, 1);
        font-size: 0.13rem;
        font-weight: bold;
        width: 100%;
        padding-bottom: 0.08rem;
      }
      .pelement {
        >ul:nth-of-type(1) {
          margin-bottom: 0.16rem;
          >li {
            height: 0.24rem;
            font-size: 0.17rem;
            color:#545454;
            line-height: 0.24rem;
            margin-top: 0.05rem;
            span {
              margin: 0 0.08rem;
              font-size: 0.13rem;
              font-weight: bold;
              opacity: 0.8;
            }
            span:nth-of-type(1) {
              margin: 0;
            }
          }
        }
        >ul:nth-of-type(2) {
          li>span:nth-of-type(2) {
            color: rgba(34, 34, 34, 1);
          }
          >li:nth-of-type(1),
          >li:nth-of-type(2) {
            >span:nth-of-type(1) {
              height: 0.19rem;
              font-size: 0.13rem;
              color: rgba(153, 153, 153, 1);
              line-height: 0.19rem;
              margin-right: 0.08rem;
            }
            >span:nth-of-type(2) {
              height: 0.19rem;
              font-size: 0.13rem;
              color:rgba(34,34,34,1);
              font-weight: normal;
              line-height: 0.19rem;
            }
          }
        }
      }
    }
    .btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      box-sizing: border-box;
      padding: 0.12rem 0;
      button {
        border: 0;
        color:rgba(26,173,25,1);
        background: #FFFFFF;
        font-size: 0.14rem;
      }
      .vux-x-icon {
        fill: #DBDBDB;
      }
    }
  }
}
