*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration: none;
}
.pMine{
  .hello_img{
    width: 100%;
    text-align: center;
    border-bottom: 0.05rem solid #deeae1;
    box-sizing: border-box;
    padding-bottom: 0.25rem;
    >img{
      margin-top: 0.23rem;
    }
    >div:nth-of-type(1){
      font-weight: bold;
      color: #808080;
      margin-bottom: 0.06rem;
    }
    >div:nth-of-type(2){
      margin-bottom: 0.23rem;
      span{
        color: rgba(112,112,112,1);
        font-size: 0.13rem;
      }
    }
  }
  .hello_tab{
    box-sizing: border-box;
    padding: 0 0.15rem 0.15rem 0.15rem;
    >div{
      font-weight: bolder;
      color: #626262;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0.15rem 0;
      border-bottom: 0.01rem solid #F0F6F2;
    }
  }
  .hello_tab{
    >div{
      display: flex;
      align-items: center;
      color: #000;
      font-size: 0.15rem;
    }
  }
  .vux-x-icon {
    fill: #DBDBDB;
  }
}
