.pRoute {

    .glyphicon-home:before {
        content: "\e021";
    }
    .navigation {
        z-index: 1000;
        margin-bottom: 0;
        height: 0.70rem;
        position: fixed;
        bottom: 0;
        background: #FFFFFF;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0.05rem 0.5rem;
        border-top: 1px solid #D9D9D9;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            div:nth-of-type(1) {
                width: 0.3rem;
                height: 0.3rem;
                border-radius: 50%;
                border: 1px solid #D9D9D9;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #D9D9D9;
                margin-bottom: 0.05rem;
            }
            div:nth-of-type(2) {
                font-size: 0.13rem;
            }
        }
    }
    .active {
        div:nth-of-type(1) {
            background: #11A640;
            border-color: #11A640 !important;
            color: white !important;
        }
    }
}
